<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Dojo_Week_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Dojo Classification
- The Objective of this Dojo is to predict the variable "Income" from the Adult data set
(soure https://archive.ics.uci.edu/ml/datasets/adult)
The purpose of the dojo is to build a classification model that classifies people into two groups, below 50k or above 50k in income. We will build the model using training data, and then predict the salary class using the test group.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
# Get the data first

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

columns = ["age", "work-class", "fnlwgt", "education", "education-num","marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [ ]:
df_income = pd.read_csv(url, header=None, names=columns)
df_income.head()

   age         work-class  fnlwgt  ... hours-per-week  native-country  income
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

# Data Cleaning and Data Exploration

In [ ]:
# Explore the Data

In [ ]:
# Distribution of Target class, are we in a balanced or inbalanced set?

In [ ]:
# plot a Histogram of the age distribution of the income that is colored by income <50 and income >50

In [ ]:
# plot the income class per Region with a barplot

In [ ]:
# Data Cleaning, any Missing Values? ...

# Data Preparation

In [ ]:
# look at wether you have categorical or numeric data and transform the data for the ML task

# Building the Model

In [ ]:
# build a Logistic Regression Model. Which steps do you need to do before training?

In [ ]:
# Plot the Cofnfusion Matrix and compare the Performance. Which measure is most appropriate?

# Additional: Implement a KNN and comare the Results to the LR