<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Lukan_Python_and_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13" 
}

Find a way to only display the keys that have int values.

In [22]:
wildcodeschool =	{
  "data_analyst": 8,
  "data_scientist": 2,
  "business intelligence analyst": 5,
  "dev_web": "13"
}

In [23]:
for k,v in wildcodeschool.items():
  if type(v)==int: print(k)

data_analyst
data_scientist
business intelligence analyst

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [24]:
for k in wildcodeschool:
  if 'e' in k:
    print(wildcodeschool[k])

2
5
13

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" > 19, using a **dictionary method**.

In [25]:
wildcodeschool['dev_web'] = int(wildcodeschool['dev_web'])
wildcodeschool['total_campus']=19
print(wildcodeschool)

{'data_analyst': 8, 'data_scientist': 2, 'business intelligence analyst': 5, 'dev_web': 13, 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete any key value pair randomly, except for total_campus.

In [32]:
import random
myrand = random.randint(0,len(wildcodeschool)-1)
mydict = wildcodeschool.copy()
for i,k in enumerate(mydict):
  if myrand==i:
    key=k
    break
del mydict[key]
mydict

{'business intelligence analyst': 5,
 'data_scientist': 2,
 'dev_web': 13,
 'total_campus': 19}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [33]:
sorted(wildcodeschool.keys(), key=lambda x:x)

['business intelligence analyst',
 'data_analyst',
 'data_scientist',
 'dev_web',
 'total_campus']

# Mission 6

Create a script that returns the same output as the **values()** method.

In [34]:
print(wildcodeschool.values())

dict_values([8, 2, 5, 13, 19])

In [44]:
print([v for (k,v)  in wildcodeschool.items()])

[8, 2, 5, 13, 19]