<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Lukan_Cross_validation_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge
We're revisiting the Titanic.[The data set is located here](https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv). Using this data set:

You will perform a supervised classification on the survived column, by performing a traintestsplit (without fixing the random_state), then a classifier of your choice (knn, decision tree, logistic regression, etc...). You have to clearly show the accuracy score of the training game and the accuracy score of the test game.

In a new block of code, you will perform exactly the same step as before. As you have not set the random_state, the score should be different.

With the same classifier, you will run a cross-validation with a split in 6 parts. Does the CrossValidation strengthen your confidence in this prediction?

You will calculate the mean and standard deviation of the 6 scores obtained.

Validation criterias
The Colab notebook is shared
A supervised classification is used, and the accuracy score of the training set and the test set is present.
A CrossValidation is performed
The CrossValidation has a split in 6 parts and the 6 scores are displayed

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
link = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic = pd.read_csv(link)

# Data preprocessing

In [4]:
titanic.head()
#titanic['survived'] = titanic['survived'].apply(lambda x: 'did not survive' if x == 0 else 'survived')

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [6]:
# It's up to you:
titanic['Sex']=pd.factorize(titanic.Sex)[0].tolist()

In [7]:
titanic.dropna(axis=0, inplace=True)
titanic.drop(columns='Name',inplace=True)
titanic

In [8]:
y = titanic.iloc[:,0]
X = titanic.iloc[:,1:]

     Survived  Pclass  ...  Parents/Children Aboard     Fare
0           0       3  ...                        0   7.2500
1           1       1  ...                        0  71.2833
2           1       3  ...                        0   7.9250
3           1       1  ...                        0  53.1000
4           0       3  ...                        0   8.0500
..        ...     ...  ...                      ...      ...
882         0       2  ...                        0  13.0000
883         1       1  ...                        0  30.0000
884         0       3  ...                        2  23.4500
885         1       1  ...                        0  30.0000
886         0       3  ...                        0   7.7500

[887 rows x 7 columns]

# KNN classification,  fixed state

You will perform a supervised classification on the survived column, by performing a traintestsplit (without fixing the random_state), then a classifier of your choice (knn, decision tree, logistic regression, etc...). You have to clearly show the accuracy score of the training game and the accuracy score of the test game.

In [11]:
# Your code here
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=36)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train, y_train)
print(f"Accuracy on the train data set: {model.score(X_train,y_train)}")
print(f"Accuracy on the test data set: {model.score(X_test,y_test)}")

Accuracy on the train data set: 0.7909774436090226
Accuracy on the test data set: 0.6801801801801802

## Model without setting random state

In a new block of code, you will perform exactly the same step as before. As you have not set the random_state, the score should be different.

In [13]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y)
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X1_train, y1_train)
print(f"Accuracy on the train data set: {model.score(X1_train,y1_train)}")
print(f"Accuracy on the test data set: {model.score(X1_test,y1_test)}")

Accuracy on the train data set: 0.7909774436090226
Accuracy on the test data set: 0.7117117117117117

## Cross validation

With the same classifier, you will run a cross-validation with a split in 6 parts. Does the CrossValidation strengthen your confidence in this prediction?

In [20]:
# Your code here
from sklearn.model_selection import cross_val_score
scores=cross_val_score(KNeighborsClassifier(weights = 'distance'), 
                X, y, 
                cv = 6 )
print('Scores: ',list(scores))
print('Score mean: ', scores.mean())
print('Score SD:', scores.std())

Scores:  [0.6081081081081081, 0.7027027027027027, 0.7027027027027027, 0.7094594594594594, 0.6891891891891891, 0.782312925170068]
Score mean:  0.6990791812220384
Score SD: 0.05072049915902507