<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Lukan_Gridsearch_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Challenge
We're revisiting the Titanic.[The data set is located here](https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv).

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
link = "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
titanic = pd.read_csv(link)

# Data preprocessing

In [2]:
titanic.head()
#titanic['survived'] = titanic['survived'].apply(lambda x: 'did not survive' if x == 0 else 'survived')

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [3]:
# It's up to you:
titanic['Sex']=pd.factorize(titanic.Sex)[0].tolist()

In [4]:
titanic.dropna(axis=0, inplace=True)
titanic.drop(columns='Name',inplace=True)
titanic

     Survived  Pclass  ...  Parents/Children Aboard     Fare
0           0       3  ...                        0   7.2500
1           1       1  ...                        0  71.2833
2           1       3  ...                        0   7.9250
3           1       1  ...                        0  53.1000
4           0       3  ...                        0   8.0500
..        ...     ...  ...                      ...      ...
882         0       2  ...                        0  13.0000
883         1       1  ...                        0  30.0000
884         0       3  ...                        2  23.4500
885         1       1  ...                        0  30.0000
886         0       3  ...                        0   7.7500

[887 rows x 7 columns]

In [6]:
y = titanic.iloc[:,0]
X = titanic.iloc[:,1:]

# Decision tree classification

You will perform a supervised classification on the "survived" column, using the decision tree classifier. You must clearly show the accuracy score of the test game.

In [7]:
# Your code here
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=36)
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
print(f"Accuracy on the train data set: {model.score(X_train,y_train)}")
print(f"Accuracy on the test data set: {model.score(X_test,y_test)}")

Accuracy on the train data set: 0.9834586466165414
Accuracy on the test data set: 0.7387387387387387

## GridSearch

With the same classifier, you will launch a GridSearch with the values (2, 3, 5, 10) of the max_depth parameter, and with the values (1, 3, 5, 10) of the min_samples_leaf parameter.
With this search via GridSearch, what are the best values of the hyperparameters if we want to maximize the accuracy score?

In [9]:
from sklearn.model_selection import GridSearchCV
params={'max_depth':[2,3,5,10],'min_samples_leaf':[1,3,5,10]}
grid=GridSearchCV(DecisionTreeClassifier(),params)
grid.fit(X,y)
print("best score:",grid.best_score_)
print("best parameters:",grid.best_params_)

best score: 0.829772106900273
best parameters: {'max_depth': 5, 'min_samples_leaf': 3}

## RandomSearch

With this same classifier, you will launch a RandomSearch on the max_depth and min_samples_leaf parameters.
With this search via RandomSearch, what are the best values of the hyperparameters if you want to maximize the accuracy score?

In [18]:
# Your code here
from sklearn.model_selection import RandomizedSearchCV
params1={'max_depth':range(1,30),'min_samples_leaf':range(1,30)}

grid1=RandomizedSearchCV(DecisionTreeClassifier(),params)
grid1.fit(X,y)
print("best score randomized  GS:",grid1.best_score_)
print("best parameters randomized GS:",grid1.best_params_)

best score randomized  GS: 0.829772106900273
best parameters randomized GS: {'min_samples_leaf': 3, 'max_depth': 5}