<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Lukan_Pandas_Part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Display the first 10 rows of the following file: http://bit.ly/imdbratings

In [4]:
url = 'http://bit.ly/imdbratings'
import pandas as pd

df=pd.read_csv(url)

In [5]:
df

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
974          7.4  ...  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975          7.4  ...  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977          7.4  ...  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]

# Mission 2

Sort your dataframe in ascending order according to the star_rating column.
[This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [6]:
df.sort_values(by='star_rating')

     star_rating  ...                                        actors_list
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...
950          7.4  ...  [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan...
949          7.4  ...  [u'Macaulay Culkin', u'Joe Pesci', u'Daniel St...
948          7.4  ...  [u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri...
947          7.4  ...  [u'Jack Nance', u'Charlotte Stewart', u'Allen ...
..           ...  ...                                                ...
6            8.9  ...  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...

[979 rows x 6 columns]

# Mission 3

Answer the question below:
- What is the median star rating? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html)
- What is the genre of the most highly rated film? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html)
- How many (in percentage) of films belong to each genre? [This ressource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [56]:
print(f"Median star rating: {df['star_rating'].median()}")
print(f"Genre of the highest  rated film: {df.loc[df['star_rating'].idxmax(),'genre']}")

genre=df.groupby(by='genre')['title'].agg('count')
genre = genre/len(df)*100
genre=genre.reset_index().sort_values(['title'],ascending=False)
genre['title']=genre['title'].apply(lambda x: "{0:.2f}%".format(x))
print("\n% films by genre")
genre

Median star rating: 7.8
Genre of the highest  rated film: Crime

% films by genre

        genre   title
6       Drama  28.40%
4      Comedy  15.93%
0      Action  13.89%
5       Crime  12.67%
3   Biography   7.87%
1   Adventure   7.66%
2   Animation   6.33%
11     Horror   2.96%
12    Mystery   1.63%
15    Western   0.92%
13     Sci-Fi   0.51%
14   Thriller   0.51%
9   Film-Noir   0.31%
7      Family   0.20%
8     Fantasy   0.10%
10    History   0.10%

# Mission 4

Display only the rows with films that belong to the lowest rated genre (based on the average rating of the films in this genre)
[This resource could be useful](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.mean.html)

In [100]:

dfrating=df.groupby(by='genre')['star_rating'].agg('mean').reset_index()
lowest=dfrating['genre'][dfrating['star_rating']==dfrating['star_rating'].min()].iloc[0]
df[df['genre']==lowest]

     star_rating  ...                                        actors_list
350          8.0  ...  [u'Teresa Wright', u'Joseph Cotten', u'Macdona...
496          7.8  ...  [u'James Caan', u'Kathy Bates', u'Richard Farn...
728          7.6  ...  [u'Antonio Banderas', u'Elena Anaya', u'Jan Co...
848          7.5  ...  [u'James Stewart', u'Doris Day', u'Brenda de B...
902          7.5  ...   [u'Jon Finch', u'Barry Foster', u'Alec McCowen']

[5 rows x 6 columns]

# Mission 5

Display films which are longer than 200 minutes **and** which belong to a genre with a name containing the letter 'h' (either lower case or upper case)

In [104]:
df[(df['duration'] > 200) & (df['genre'].str.contains('h',case=False))]

     star_rating  ...                                        actors_list
630          7.7  ...  [u'Denzel Washington', u'Angela Bassett', u'De...

[1 rows x 6 columns]

# Mission 6

Which **actor trio** is mentioned most often in the entire dataframe?

In [123]:
df.groupby(by=['actors_list'])['title'].agg('count').reset_index().sort_values(by='title',ascending=False).iloc[0]['actors_list']

"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert Grint']"

In [126]:
df[df['actors_list']=="[u'Daniel Radcliffe', u'Emma Watson', u'Rupert Grint']"]

     star_rating  ...                                        actors_list
222          8.1  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
551          7.8  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
642          7.7  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
727          7.6  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
891          7.5  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...
932          7.4  ...  [u'Daniel Radcliffe', u'Emma Watson', u'Rupert...

[6 rows x 6 columns]