<a href="https://colab.research.google.com/github/mlukan/GDA3B2021/blob/main/Martin_Lukan_Python_and_the_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [32]:
mytup=(1,2,3,'string1','string2','string3',['item1','item2','item3'],['itema','itemb','itemc'],{"key1":1,"key2":2,"key3":3},{"keya":"vala","keyb":"valb","keyc":"valc"})

In [33]:
mytup[-3][-2]

'itemb'

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [34]:
mytup[-4:]

(['item1', 'item2', 'item3'],
 ['itema', 'itemb', 'itemc'],
 {'key1': 1, 'key2': 2, 'key3': 3},
 {'keya': 'vala', 'keyb': 'valb', 'keyc': 'valc'})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [42]:
mytup=mytup[:2]+('newstring',)+mytup[3:]
mytup

(1,
 2,
 'newstring',
 'string1',
 'string2',
 'string3',
 ['item1', 'item2', 'item3'],
 ['itema', 'itemb', 'itemc'],
 {'key1': 1, 'key2': 2, 'key3': 3},
 {'keya': 'vala', 'keyb': 'valb', 'keyc': 'valc'})

# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [19]:
tup1=(20,25,31,1)
tup2=(2,78,3,19)
def comp_sums(t1,t2):
  pars = list(locals().keys())
  if sum(t1) > sum(t2):
    print(f"{pars[0]} is greater than {pars[1]}")
  else:
    print(f"{pars[1]} is greater than {pars[0]}")
comp_sums(tup1,tup2)

t2 is greater than t1

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [44]:
def update_tuple(tup,i,val):
  return tup[:i-1]+(val,) + tup[i:]
testup=(1,2,3,4,5)
update_tuple(testup,4,'f')

(1, 2, 3, 'f', 5)